<template>
  <q-page class="row justify-evenly flex-top">
    <!-- content -->
    <div style="padding-top: 2vh">
      <p style="font-size: 4vh">
      Welcome to the unofficial FRC Ironclad Documentation.
    </p>
    </div>
  </q-page>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
export default defineComponent({
  // name: 'PageName'
})
</script>
