<template>
  <q-page class="row justify-evenly">
    <div>
      <h2>Welcome to Ironclad's FRC documentation</h2>
    </div>
  </q-page>
</template>

<script lang="ts">
import { Meta } from 'components/models';
import { defineComponent, ref } from 'vue';

export default defineComponent({
  name: 'IndexPage',
});
</script>
