<template>
  <q-page class="bg-red text-white text-center q-pa-md flex flex-center">
    
    <div>
      <div style="font-size: 30vh">
      Among Us
    </div>

    <q-btn
        class="q-mt-xl"
        color="white"
        text-color="blue"
        unelevated
        to="/"
        label="Vent"
        no-caps
      />

    </div>

  </q-page>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
export default defineComponent({
  name: 'Sus'
})
</script>
