<template>
  <q-layout view="hHh Lpr fFf"> <!-- Be sure to play with the Layout demo on docs -->

  <q-drawer
        show-if-above
        :width="400"
        :breakpoint="500"
        bordered
        class="bg-grey-4"
      >
        <q-scroll-area class="fit">
          <q-list>
            <h3>temp text</h3>
            <p>groups and topics go in here</p>
          </q-list>
        </q-scroll-area>
      </q-drawer>


    <q-page-container>
      <!-- This is where pages get injected -->
      <router-view />
    </q-page-container>

  </q-layout>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
export default defineComponent({
  // name: 'LayoutName',

  setup() {
    return
  }
})
</script>
