<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        />

        <q-toolbar-title>
          Ironclad Documentation
        </q-toolbar-title>

      </q-toolbar>
    </q-header>

    <q-drawer
      elevated
      v-model="leftDrawerOpen"
      show-if-above
      bordered
    >
      <q-list>
        <q-item-label
          header
        >
          Essential Links
        </q-item-label>

        <EssentialLink
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
        />
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import EssentialLink from 'components/EssentialLink.vue';

const linksList = [
  {
    title: 'Docs',
    caption: 'quasar.dev',
    icon: 'school',
    link: './#/docs'
  },
  {
    title: 'Gitlab',
    caption: 'gitlab.com/ironclad_code',
    icon: 'code',
    link: 'https://gitlab.com/ironclad_code'
  },
  {
    title: 'Discord Chat Channel',
    caption: 'discord.gg/FQtXHTFxPw',
    icon: 'chat',
    link: 'https://discord.gg/FQtXHTFxPw'
  },
  {
    title: 'Twitter',
    caption: '@Ironclad5847',
    icon: 'rss_feed',
    link: 'https://twitter.com/Ironclad5847'
  },
  {
    title: 'Facebook',
    caption: '@Ironclad5847',
    icon: 'public',
    link: 'https://www.facebook.com/Ironclad5847/'
  }
];

export default defineComponent({
  name: 'MainLayout',

  components: {
    EssentialLink
  },

  setup () {
    const leftDrawerOpen = ref(false)

    return {
      essentialLinks: linksList,
      leftDrawerOpen,
      toggleLeftDrawer () {
        leftDrawerOpen.value = !leftDrawerOpen.value
      }
    }
  }
});
</script>
